<div id="edit-environment" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/edit-environment.less</em>, <em>assets/js/pages/edit-environment.page.js</em>, and <em>api/controllers/view-edit-environment.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
