<div id="quote" v-cloak>

  <div class="container">
    
    <div class="row bottom-bumper">
      <div class="col-3">
        <div class="bottom-bumper">
          <ajax-button :syncing="loadingBuild" @click="redirectToBuild(build.sessionCode)" class="btn-primary btn-block ">RETURN TO BUILD</ajax-button>
        </div>
        <div class="bottom-bumper">
          <img style="width:100%;" :src=" '/screenShots/'+build.sessionCode+'.png'"/>
        </div>
        <h3>Notes:</h3>
        <textarea class="flex-grow-1" name="build-notes" id="notes-field" v-model="build.buildNotes"></textarea>
      </div>
      
      <div class="col-9">
        <h2 style="text-align: center; margin-bottom: 20px; border-bottom: 3px solid white;">Quote For {{build.owner.companyName}} ({{build.buildName}})</h2>
        <div>
          <div class="row mt-2" v-for="(bPart, index) in build.buildParts" :key="index" style="border-bottom: 1px solid grey;">
           
            <div class="col-2">
            <h3>{{bPart.partInfo.partCode}}</h3>
           </div>

            <div class="col-7">
              <div>
                <h4 class="text-center" >{{bPart.partInfo.friendlyName}}</h4>
                <p>{{bPart.partInfo.partDescription}}</p> 
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-2 dollar-sign">$</div>
                <div class="col-10 "><input  v-on:keyup="updateTotalPrice(index)" @blur="blurPrice(index)" @focus="focusPrice(index)" class="price-field" type="text" v-model="build.buildParts[index].vuPrice"/></div>    
              </div>
            </div>
            
          </div>

          <!-- INPUT AREA-->
          <div class="row mt-4" v-for="(qItem, index) in quoteLineItems" style="border-bottom: 1px solid grey;">
            <div class="col-12">
              <div class="row">
                <div class="col-2">
                  <input type="text" placeholder="XXX" class="code-field">
                 </div>
      
                  <div class="col-7">
                    <div>
                      <input type="text" placeholder="PART NAME" class="name-field">
                      <textarea placeholder="PART DESCRIPTION" class="flex-grow-1 part-description-field" ></textarea>
                    </div>
                  </div>
      
                  <div class="col-3">
                    <div class="row">
                      <div class="col-2 dollar-sign">$</div>
                      <div class="col-10 "><input  v-on:keyup="updateTotalPrice()" class="price-field" type="text" /></div>    
                    </div>
                  </div>
              </div>
              
            </div>
          </div>

          <div class="row mt-3">
            <ajax-button @click="newQuoteLineItem" class="btn-primary btn-block ">NEW LINE ITEM</ajax-button>
          </div>

          <div class="row mt-4">
            <div class="col-9 text-right">
              <h3>TOTAL:</h3>
            </div>
            <div class="col-3">
              <div class="row">
                <div class="col-2 dollar-sign">$</div>
                <div class="col-10 "><input class="price-field" type="text" v-model="priceTotal"/></div> 
              </div> 
            </div>
          </div>

        </div>

      </div>

    </div>
    


  </div>

  <pre style="color:white;">
    {{build}}
  </pre>
  

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
