<div id="quote" v-cloak>

  <div class="container">
    
    <div class="row bottom-bumper">
      <div class="col-4">
        <div class="bottom-bumper">
          <ajax-button :syncing="loadingBuild" @click="redirectToBuild(build.sessionCode)" class="btn-primary btn-block ">RETURN TO BUILD</ajax-button>
        </div>
        <div class="bottom-bumper">
          <img style="width:100%;" :src=" '/screenShots/'+build.sessionCode+'.png?'+cacheBuster"/>
        </div>
        <h3>Notes:</h3>
        <textarea class="flex-grow-1" name="build-notes" id="notes-field" v-model="build.buildNotes"></textarea>
      </div>
      
      <div class="col-8">
        <h2 style="text-align: center; padding-bottom: 16px; margin-bottom: 20px; border-bottom: 3px solid white;">Quote For {{build.owner.companyName}} ({{build.buildName}})</h2>
        <div>
          <div class="row mt-2" v-for="(bPart, index) in build.buildParts" :key="index" style="border-bottom: 1px solid grey;">
           
            <div class="col-2">
            <h3 class="text-center">{{bPart.partInfo.partCode}}</h3>
           </div>

            <div class="col-7">
              <div>
                <h4 class="text-center" >{{bPart.partInfo.friendlyName}}</h4>
                <p>{{bPart.partInfo.partDescription}}</p> 
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-2 dollar-sign">$</div>
                <div class="col-10 "><input  v-on:keyup="updateTotalPrice(index)" @blur="blurPrice(index)" @focus="focusPrice(index)" class="price-field" type="text" v-model="build.buildParts[index].vuPrice"/></div>    
              </div>
            </div>
            
          </div>

          <!-- INPUT AREA-->
          <div class="row mt-4" v-for="(qItem, index) in build.additionalLineItems" style="border-bottom: 1px solid grey;">
            <div class="col-12">
              <div class="row">
                <div class="col-2">

                  <input type="text" placeholder="XXX" class="code-field" v-model="qItem.partCode"  @blur="blurAdditionItem(index)">
                 </div>
      
                  <div class="col-7">
                    <div>
                      <input type="text" placeholder="PART NAME" class="name-field" v-model="qItem.friendlyName" @blur="blurAdditionItem(index)">
                      <textarea placeholder="PART DESCRIPTION" class="flex-grow-1 part-description-field" v-model="qItem.partDescription"  @blur="blurAdditionItem(index)"></textarea>
                    </div>
                  </div>
      
                  <div class="col-3">
                    <div class="row mb-3">
                      <div class="col-2 dollar-sign">$</div>
                      <div class="col-10 "><input  v-on:keyup="updateTotalPrice(index, false)" class="price-field" type="text" v-model="build.additionalLineItems[index].vuPrice" @focus="focusPrice(index, false)"  @blur="blurPrice(index, false)"/></div>    
                    </div>
                    <div class="row d-flex justify-content-end">
                      <div class="col-10 ">
                        <ajax-button :syncing="loadingDelete" @click="deleteQuoteLineItem(qItem.id, index)" class="btn-danger btn-block ">REMOVE ITEM</ajax-button>              
                      </div>
                    </div>
                  </div>

              </div>
              
            </div>
          </div>

          <div class="row mt-3">
            <ajax-button @click="newQuoteLineItem" class="btn-success btn-block ">NEW LINE ITEM</ajax-button>
          </div>

          <div class="row mt-4">
            <div class="col-9 text-right">
              <h3>TOTAL:</h3>
            </div>
            <div class="col-3">
              <div class="row">
                <div class="col-2 dollar-sign">$</div>
                <div class="col-10 ">
                  <div class="price-field" type="text">
                    {{priceTotal}}
                  </div>
                </div> 
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button @click="downloadPDF()">generate pdf</button>
              <a :href="'/quote-pdf/'+build.sessionCode+'/'+build.createdAt">GO TO PDF</a>
              <a :href="'/screenShots/'+build.sessionCode+'.pdf'" download>Download pdf</a>
            </div>
          </div>

        </div>

      </div>

    </div>
    


  </div>

  <pre style="color:white;">
    {{build}}
  </pre>
  

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
